version: "3"
services:
  minio:
    image: minio/minio
    ports:
      - "9000:9000"
    environment:
      MINIO_ACCESS_KEY: "minio_access_key"
      MINIO_SECRET_KEY: "minio_secret_key"
    command: server /data
    volumes:
      - minio_data:/data

volumes:
  minio_data: